.fixFloat {
    clear: both;
}

body {
    margin: auto;
    width: 960px;
    background-color: #DDD;
    padding: 0px;
    background: url(./imgs/fundo.gif) repeat-x;
    overflow-y: scroll;
}
#cab img {
    float: left;
}
#social {
    float: right;
    margin-top: 40px;
}
#social img{
    width: 32px;
    height: 32px;
}

#menu{
    float: left;
    margin-top: 93px;
    width: 453px;
}

#menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, #DDD, #666);
}

#menu li {
    height: 57px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    border-right: 1px solid #062;
}

#menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #FFF;
}

#banner {
    margin-top: 15px;
}

#banner img {
    width: 960px;

}

#lateral {
    float: right;
    background: #DDD;
    width: 190px;
    border-radius: 10px;
    padding: 5px;
}

#lateral h1 {
    font-size: 15px;
    text-align: center;
    border-bottom: #000 solid 1px;
    margin-top: -5px;
}

#lateral h2 {
    font-size: 15px;
}

#lateral p {
    text-align: justify;
}

#main {
    background: #EEE;
    width: 730px;
    border-radius: 10px;
    padding: 5px;
}

#main h1 {
    font-size: 20pt;
    border-bottom: #000 solid 1px;
}

#main h2 {
    font-size: 15px;
}

#main p {
    text-align: justify;
}

details {
    margin-top: 30px;
    cursor: pointer;

}

details p {
    font-size: 20px;
    text-align: justify;
}

summary {
    height: 30px;
    background: linear-gradient(to bottom, #EEE, #999);
    font: 12pt Arial;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
}

details[open] summary{
    color: #FFF;
    background: linear-gradient(to bottom, #E00, #900);
}

details[open] {
    background: #EEE;
}

#inscricao label {
    font-size: 15pt;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    color: #888;
    display: block;
    margin-top: 20px;

}

#inscricao {
    background: rgb(202, 202, 202);
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

#inscricao  input[type="submit"], #inscricao input[type="reset"] {
    border: 0px;
    width: 100px;
    height: 50px;
    color: #FFF;
    background: rgb(4, 184, 4);
    border-radius: 10px;
    cursor: pointer;
}
